/*Login-Register Sayfası stilleri*/
body {
  background-color: #f3f2ec;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Dikey ortalama */
  align-items: center; /* Yatay ortalama */
}
.logo-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; /* Logo ile kart arası boşluk */
}
.login-card {
  width: 100%;
  max-width: 400px;
}
.btn-login {
  background-color: #1e93ab;
  color: #fff;
  transition: background-color 0.2s, transform 0.1s;
}
.btn-login:hover {
  background-color: #16788f;
}
.btn-login:active {
  transform: scale(0.98);
}
.btn-register {
  background-color: #fff;
  color: #1e93ab;
  border: 1px solid #1e93ab;
  transition: background-color 0.2s, color 0.2s, transform 0.1s;
}
.btn-register:hover {
  background-color: #1e93ab;
  color: #fff;
}
.btn-register:active {
  transform: scale(0.98);
}
