
  /* Kategori Linkleri için Hover Efekti */
  .navbar-nav .nav-link {
    color: #495057 !important; /* Koyu Gri */
    transition: color 0.2s ease;
    border-bottom: 2px solid transparent; /* Altta gizli çizgi */
    padding-bottom: 0.7rem;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: #f00f22 !important; /* Mavi Vurgu */
    border-bottom-color: #f00f22; /* Aktif/Hover'da mavi çizgi */
  }

  /* Mobil Boyutlandırma */
  @media (max-width: 992px) {
    header .display-6 {
      font-size: 2rem !important;
    }
    header .fw-medium {
        font-size: 0.7rem !important;
    }
  }
